<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | MedicineTestTask</title>    
    <link href="~/assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />  
    <link rel="stylesheet" type="text/css" href="~/assets/lib/devextreme/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/lib/devextreme/css/dx.light.css" />
</head>
<body>
    <div class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Medicine Test Task", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
                
        </div>
    </div>     
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MedicineTestTask</p>
        </footer>
    </div>   

    <script type="text/javascript" src="~/assets/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/assets/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="~/assets/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="~/assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @*@<script type="text/javascript" src="~/assets/lib/globalize/dist/cldrjs/dist/cldr.js"></script>
    <script type="text/javascript" src="~/assets/lib/globalize/dist/cldrjs/dist/cldr/event.js"></script>
    <script type="text/javascript" src="~/assets/lib/globalize/dist/cldrjs/dist/cldr/supplemental.js"></script>
    <script type="text/javascript" src="~/assets/lib/globalize/dist/globalize.js"></script>
    <script type="text/javascript" src="~/assets/lib/globalize/dist/globalize/date.js"></script>*@
    <script type="text/javascript" src="~/assets/lib/devextreme/js/dx.all.js"></script>
    <script type="text/javascript" src="~/app/app.js"></script>
    <script type="text/javascript" src="~/app/components/patienteditor/IndexEditorController.js"></script>
    <script type="text/javascript" src="~/app/components/patienteditor/AddNewController.js"></script>
    <script type="text/javascript" src="~/app/components/patienteditor/EditorService.js"></script>
</body>
</html>